<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h2>Task: <%= @task.name %></h2>
      <p>
        Complete? <%= @task.complete.to_s %>
      </p>
  </body>
